{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>
<body>
    <img src="{% static '/image/munnar.jpg'%}" class="myimg">
    <img src="{%static '/image/tent.jpg'%}" class="myimg">
    <img src="{%static '/image/monkey.jpg'%}" class="myimg">
    <img src="{%static '/image/theyyam.jpeg'%}" class="myimg">
    

    
</body>
</html>